{% extends 'base.html.twig' %}

{% block title %}Contact | Gîte en Alsace à Orbey{% endblock %}

{% block meta_description %} {{ description }} {% endblock %}

{% block body %}
{% include "_partials/_header.html.twig" %}

<div class="p-4 mt-24 lg:p-12">

    {{ knp_menu_render(breadcrumb, {'template': 'menu/breadcrumb.html.twig'}) }}

        <h1 class="mb-4 mt-2">Contactez-nous</h1>
        <section class="flex flex-wrap justify-around gap-10 pt-8">
            <!-- Facebook -->
            <div class="flex flex-col items-center justify-between text-center space-y-3">
                <p class="text-lg font-semibold uppercase tracking-widest">Facebook</p>
                <a href="https://www.facebook.com/profile.php?id=61555292307736" target="_blank" class="">
                    <i class="fa-brands fa-facebook text-5xl opacity-50 hover:opacity-100 transition duration-300 text-terracota2"></i>
                    <p class="pt-2">Gîte du Rain du Pair</p>
                </a>
                
            </div>
            <!-- Instagram -->
            <div class="flex flex-col items-center justify-between text-center space-y-3">
                <p class="text-lg font-semibold uppercase tracking-widest">Instagram</p>
                <a href="https://www.instagram.com/giteraindupair" target="_blank">
                    <i class="fa-brands fa-instagram text-5xl opacity-50 hover:opacity-100 transition duration-300 text-terracota2"></i>
                    <p class="pt-2">@giteraindupair</p>

                </a>
            </div>
            <!-- Téléphone -->
            <div class="flex flex-col items-center justify-between text-center space-y-3">
                <p class="text-lg font-semibold uppercase tracking-widest">Téléphone</p>
                <a href="tel:0636296222" target="_blank" class=""> 
                    <i class="fa-solid fa-phone text-4xl opacity-50 hover:opacity-100 transition duration-300 text-terracota2"></i>
                    <p class="pt-2">06 36 26 62 22</p>
                </a>  
            </div>
            <!-- Mail -->
            <div class="flex flex-col items-center justify-between text-center space-y-3">
                <p class="text-lg font-semibold uppercase tracking-widest">Mail</p>
                <a href="mailto:contact@giteraindupair.fr" target="_blank">
                    <i class="fa-solid fa-envelope text-5xl opacity-50 hover:opacity-100 transition duration-300 text-terracota2"></i>
                    <p class="pt-2">contact@giteraindupair.fr</p>
                </a>
            </div>
        </section>

        <div class="my-16 mx-4 lg:mx-12 p-6 rounded-lg shadow-lg bg-white1">
            <h2 class="text-xl text-center font-semibold my-4 leading-relaxed">
                Un renseignement?<br> Une demande particulière?<br> N'hésitez pas, envoyez-nous un message !
            </h2>  
            <p class="text-center pb-4">Nous y répondrons dans les plus brefs délais.</p>  
            
            {# <form id="reservationForm" class="flex flex-col gap-6" action="{{ path('app_contact_email') }}" method="post">
                
                <label for="email" class="text-lg font-medium">Votre adresse mail</label>
                <input type="email" id="contact-email" name="email" required placeholder="Sélectionnez votre adresse mail"
                    class="border p-3 rounded w-full focus:outline-none focus:ring bg-white">

                <label for="subject" class="text-lg font-medium">Sujet</label>
                <input type="text" id="contact-subject" name="subject" required placeholder="Objet de votre demande"
                    class="border p-3 rounded w-full focus:outline-none focus:ring bg-white">

                <label for="message" class="text-lg font-medium">Votre message</label>
                <textarea id="contact-message" name="message" required placeholder="Quel est votre demande ?"class="border p-3 rounded w-full h-32 focus:outline-none focus:ring"></textarea>
                
                <input type="text" name="honeypot" id="honeypot" value="" style="display:none;" autocomplete="off">

                <button type="submit" class="btn-primary">Envoyer</button>
            </form> #}

            {{ form_start(contactForm) }}

    {{ form_row(contactForm.email) }}
    {{ form_row(contactForm.subject) }}
    {{ form_row(contactForm.message) }}


    <button type="submit" class="btn-primary">Envoyer</button>

    {{ form_end(contactForm) }}
        </div>
</div>

{% include "_partials/_footer.html.twig" %}

{% endblock %}
