<header>
	{# <nav id="header" class="bg-gray-100 fixed w-full z-50 top-0 start-0 transition-all duration-300 lg:px-10 uppercase shadow-sm" style="background-image: url('/assets/img/fond-banner.webp');"> #}
	<nav id="header" class="bg-transparent fixed w-full z-50 top-0 start-0 lg:px-10 uppercase transition-all duration-300 ease-in-out">
			{# <div>
				<figure>
				<a href="{{ path('app_home') }}">
					<img src="{{ asset('assets/img/logo-copie.webp') }}" alt="Logo gîte du Rain du pair" class="w-24 h-auto"/>
				</a>
			</figure> 
			</div> #}
	
	<div class="flex items-center justify-center flex-wrap lg:pt-14" id="header-nav">
			 {# <div id="logo-container" class="w-32 ml-4 sm:w-36 md:w-40 lg:w-44 xl:w-48 transition-all duration-300">
				<figure id="logo">
					<a href="{{ path('app_home') }}">
						<img src="{{ asset('assets/img/logo-gite-rain-du-pair.webp') }}" alt="Logo gîte du Rain du pair" class="w-24 h-auto"/>
					</a>
				</figure> 
		 	</div> #}


			<div id="menu-burger" class="lg:hidden">
				<button aria-label="Ouvrir le menu" data-collapse-toggle="#main-nav">
					<svg class="w-7 h-7 mr-4 text-gray1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 17 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					</svg>
				</button>
			</div>

			<div class="w-full min-h-[60px] hidden lg:block lg:w-max " id="main-nav">
				<ul class="bg-gray-50 text-xl p-6 lg:p-0 border border-gray-200 flex flex-col lg:flex-row lg:bg-transparent lg:border-0 lg:mt-0 gap-8 lg:py-2">
					{# <li class="nav-item">
						<a href="https://www.instagram.com/giteraindupair/" target="_blank" aria-label="Instagram du Gîte" class="text-xl hover:text-[var(--color1)]">
							<i class="fa-brands fa-instagram pr-2"></i>
						</a>
						<a href="https://www.facebook.com/profile.php?id=61555292307736" target="_blank" aria-label="Facebook du Gîte" class="text-xl hover:text-[var(--color1)]">
							<i class="fa-brands fa-facebook"></i>
						</a>
					</li> #}

					<li class="nav-item">
						<a href="{{ path('app_home') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Accueil
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_search_reservation', { 'slug': 'recherche-reservation' }) }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Réservation
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_galery') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Galerie
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_activity') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Aux alentours
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_faq') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							FAQ
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ path('app_contact') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Contact
						</a>
					</li>
					{% if app.user %}
					<li class="nav-item">
						<a href="{{ path('app_profil', {'id': app.user.id}) }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
							Mon profil
						</a>
					</li>
						{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a href="{{ path('admin_dashboard') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
								Tableau de bord
							</a>
						</li>
						{% endif %} 

						{% else %}
						<li class="nav-item">
							<a href="{{ path('app_login') }}" class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:h-[1px] after:bg-gray1 after:transition-all after:duration-500 hover:after:w-full">
								Compte
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
{% block custom_javascripts %}
<script>
// 	document.addEventListener("DOMContentLoaded", function () {
// 		const header = document.getElementById("header");
// 		const logo = document.getElementById("logo");
// 		const logoContainer = document.getElementById("logo-container");
// 		const headerNav = document.getElementById('header-nav');
// 		const burger = document.getElementById('menu-burger');

// 		window.addEventListener("scroll", function () {
// 			if (window.scrollY > 100) { 
// 				// Version mobile
// 				header.classList.add("h-10");
// 				logo.style.display = "none";
// 				logoContainer.style.width = "0"; 
// 				headerNav.classList.remove("p-2");
// 				headerNav.classList.add("lg:justify-center");
// 				headerNav.classList.remove("lg:justify-between");
// 				burger.classList.add("mt-2");
// 			} else {
// 				// Version desktop
// 				header.classList.remove("h-10");
// 				header.classList.add("pt-2");
// 				logo.style.display = "block";
// 				logoContainer.style.width = "10rem"; 
// 				headerNav.classList.add("p-2");
// 				headerNav.classList.add("lg:justify-between");
// 				headerNav.classList.remove("lg:justify-center");
// 				burger.classList.remove("mt-2");
// 			}
// 		});
// 	});
// </script>

{% endblock %}