{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
{% include "_partials/_header.html.twig" %}

	<div class="container mt-24 lg:p-12">

		{# {{ knp_menu_render(breadcrumb, {'template': 'menu/breadcrumb.html.twig'}) }} #}

		<div class="flex flex-col gap-3.5">

			<p class="text-center my-4">Déjà un compte ? Connecter vous
				<a href="{{ path('app_login') }}" class="text-terracota1 hover:underline">ici</a>
			</p>

			<h1>Créer un compte</h1>
				<div class="flex flex-col items-center justify-center p-3 my-2 border rounded-lg text-xl">
				<a href="{{ path('auth_oauth_connect', {service: 'google'}) }}" class="flex flex-col items-center justify-center">
					<img src="{{ asset('assets/img/logo_google.png') }}" alt="Logo de connexion Google" class="w-10"/>se connecter avec google
				</a>
		</div>
			<div class="line"></div>

			<p class="text-center mb-8">ou avec une adresse mail</p>
		</div>

		<div class="flex flex-col gap-3.5">
			{{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, { attr: { class: 'flex flex-col gap-3.5' } }) }}
			{{ form_row(registrationForm.email) }}
			<div class="relative flex flex-col items-center">
				{{ form_row(registrationForm.plainPassword, {
					'label': 'Mot de passe',
					'attr': {'class': 'mt-2 pr-10 pl-3 border rounded-lg w-full input-password'}
				}) }}
				<button type="button" class="absolute right-0 bottom-2 flex items-center justify-center w-6 h-6" onclick="togglePassword()">
					<span id="eye-icon-container">
						<i id="eye-icon" class="fa-solid fa-eye text-gray-500 cursor-pointer w-5 h-5 flex items-center justify-center pt-1"></i>
					</span>
				</button>
			</div>
			{{ form_widget(registrationForm.agreeTerms) }}
			<label for="{{ registrationForm.agreeTerms.vars.id }}">
					Cochez cette case pour accepter <a href="{{ path('app_mentions_legales') }}">les conditions d'utilisation.</a>
			</label>
			{{ form_errors(registrationForm.agreeTerms) }}
			<button type="submit" class="btn-primary">s'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>

	{% include "_partials/_footer.html.twig" %}
	{% block custom_javascripts %}
	<script>
		function togglePassword() {
			const passwordInput = document.querySelector('.input-password');
			const eyeIcon = document.getElementById('eye-icon');
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				eyeIcon.classList.remove("fa-eye");
				eyeIcon.classList.add("fa-eye-slash");
			} else {
				passwordInput.type = "password";
				eyeIcon.classList.remove("fa-eye-slash");
				eyeIcon.classList.add("fa-eye");
			}
		}
	</script>
{% endblock %}

{% endblock %}
