<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    
        <meta name="description" content="{% block meta_description %}{%endblock%}">
        <link rel="icon" href="{{ asset( 'assets/img/favicon.jpg' ) }}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"> #}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" media="print" onload="this.onload=null;this.media='all';" />

        
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide/dist/css/splide.min.css"> #}
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"> #}
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/carousel/carousel.css" defer/> #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/noty.min.css"> #}
        {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/themes/mint.min.css"> #}
        {# <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /> #}
        <link rel="preload" as="image" href="/assets/img/gite-orbey-alsace-nature-montagne-sejour-lac-blanc.webp" type="image/webp" fetchpriority="high">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}   

        {% block javascripts %}

            {{ encore_entry_script_tags('app') }}
            {# // <script src="{{ asset('assets/js/tarteaucitron.min.js') }}"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.15.0/tarteaucitron.js" integrity="sha512-62eOEgHMZUJrhPye67OGYDBdRtoGKAQ3R9e770/990JWPvW9PxVT019z7juVdSc6itOy+zZ3yYOUmeggwmbo7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

            <script>
                window.addEventListener('DOMContentLoaded', function () {
                    tarteaucitron.init({
                        privacyUrl: "/politique-de-confidentialite",
                        hashtag: "#tarteaucitron",
                        cookieName: "tarteaucitron",
                        orientation: "bottom",
                        showAlertSmall: false,
                        cookieslist: true,
                        closePopup: true,
                        useExternalCss: false,
                        useExternalJs: false,
                        lang: "fr",
                        handleBrowserDNTRequest: false,
                    });

                    tarteaucitron.services.instagram = {
                        key: "instagram",
                        type: "social",
                        name: "Instagram",
                        uri: "https://help.instagram.com/519522125107875",
                        needConsent: true,
                        cookies: [],
                    };

                    (tarteaucitron.job = tarteaucitron.job || []).push('instagram');
                }); 
            </script>


                {# // <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/noty.min.js" defer></script> #}

                {# // <script src="https://unpkg.com/flashy-js@0.4.0/dist/flashy.min.js"></script> #}
{#
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const flashMessagesElement = document.querySelector('#flash-messages');

                        {% for type, messages in app.flashes %}
                            {% for message in messages %}
                                Flashy('#flash-messages', {
                                    type: "{{ type }}", // Le type de message (success, error, etc.)
                                    title: "Notification",
                                    message: "{{ message|e('js') }}", // Encode le message pour JS
                                    globalClose: true, // Fermeture globale activée
                                    expiry: 5000 // Expiration en millisecondes
                                });
                            {% endfor %}
                        {% endfor %}
                    });
                </script>
            {# {% block importmap %}
                {{ importmap('app') }}
            {% endblock %} #}
            {% block custom_javascripts %}{% endblock %} {# JS spécifique à chaque template #}
        {% endblock %}
    </head>
    <body class="min-h-screen flex flex-col">
        {# <flash-messages id="flash-messages" data-max-messages="5" class="z-[999]"></flash-messages> #}
        <flash-messages
            id="flash-messages"
            data-max-messages="5"
            class="z-[999]"
            data-messages='{{ app.session.flashbag.all() | json_encode | e('html_attr') }}'>
        </flash-messages>

        <main class="flex-grow">
        {% block body %}{% endblock %}
        </main>
    
        <button id="backToTop" aria-label="Revenir en haut de la page" class="fixed bottom-16 right-6 bg-gray1 text-white p-3 rounded-lg shadow-lg transition-opacity opacity-0 hover:bg-gray2">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
            </svg>
        </button>

    </body>
</html>
